@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  /* font: Roboto; */
  font-family: "Roboto", Arial, sans-serif;
}

.DarkBackgraound {
  background-color: #1f2937;
}

.HeroMainText {
  font-weight: 900;
  font-size: 48px;
  color: #f9faf8;
}

.HeroSecondaryText,
.HeaderLinkText {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.HeaderLogoText {
  color: #f9faf8;
  font-size: 24px;

}


.SignUpLink:hover,
.SignUpLink:active {
  background-color: #2a62ba;
}

.SignUpLink {
  background-color: #3882f6;
  color: #E5E7EB;
  text-decoration: none;
  align-self: flex-start;
  padding: 5px 20px;
  border-radius: 7.5px;
}


/* #region header*/

.header {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}


.headerLinks {
  list-style: none;
  display: flex;
  gap: 20pt;
}


/* #endregion */

/* #region firstPart*/

.firstPart {
  display: flex;
  padding: 100px 150px;
  gap: 50px;
}

.firstPart img {
  object-fit: contain;
}

.firstPart>.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.firstPart * {
  margin: 0;
}

/* #endregion */

/* #region secondPart*/
.secondPart {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondPart>div {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.secondPart>div>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.secondPart img {
  border: 3px solid #3882f6;
  object-fit: fill;
  width: 150px;
  height: 150px;
  align-self: center;
  border-radius: 15px;
}

.secondPart p {
  text-align: center;
  color: #7F8690;

  font-size: 0.85em;
}

/* #endregion */